/* .c{
  display:flex;
  justify-content: flex-start;
}

.e{
  display:flex;
  justify-content: flex-end;
} */

.correct {
  color:green;
}

.wordInPlayLetters{
  display: flex;
  justify-content: space-between;
  padding:0;
}

.WordInPlay{
    width:40%;

}